<index: arrays="groups" element="register">
  <form role="form" on-submit="submit()">
    <div class="form-group">
      <input type='text' class="form-control" placeholder="{{emailText || 'Tölvupóstur'}}" value="{{email}}" autofocus=true />
      <p class="help-block"></p>
    </div>
    <div class="form-group">
      <input type='password' class="form-control" placeholder="{{passwordText || 'Lykilorð'}}" value="{{password}}" />
      <p class="help-block"></p>
    </div>
    <div class="form-group">
      <input type='password' class="form-control" placeholder="{{confirmText || 'Staðfesta lykilorð'}}" value="{{confirm}}" />
      <p class="help-block"></p>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option selected="{{groupId === undefined}}" value="{{undefined}}">Veljið notendahóp</option>
        {{each @groups as #group}}
          <option selected="{{groupId === #group.id}}" value="{{#group.id}}">{{#group.name}}</option>
        {{/each}}
      </select>
      <p class="help-block"></p>
    </div>
    <p class="text-danger">{{error}}</p>
    <input type="submit" class="btn btn-primary btn-block" value="{{text || 'Búa til notenda'}}" disabled="{{error || sending}}" />
  </form>